.contact-section {
  background-color: #fff;
  padding: 80px 0;

}

.form-control {
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-phone,.icon-envelope,.icon-map-marker,.icon-clock {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}

.contact-info {
  margin-top: 30px;
}

.contact-item {
  margin-bottom: 20px;
  font-size: 18px;
  color: #666;
}

.contact-item span {
  margin-right: 10px;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #444;
  border-color: #444;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.section-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

/* location start  */
.location-section {
  background-color: #fff;
  padding: 80px 0;
}

.location-map {
  margin-bottom: 20px;
  height: 400px;
}

.location-info {
  text-align: left;
  margin-bottom: 20px;
}

.location-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.location-info p {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}


/* header start  */
.custom-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
}

.custom-container img {
  width: 100%;
  height: 600px ;
  display: block;
}

.custom-tagline {
  position: absolute;
  top: 50%;
  left: 50px; /* Margin added from the left side */
  transform: translateY(-50%);
  font-size: 70px; /* Increased font size */
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* width: 300px; */
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.3);   */
  padding-left: 50px;
  padding-right: 50px;
}

.logo img {
  height: 70px; /* Adjust height of the logo */
}

.pages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pages li {
  display: inline-block;
  margin-left: 20px;
}

.pages li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.pages li a:hover {
  color: #ccc; /* Change color on hover */
}
